//Nunito
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Material Symbols
@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v21/sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190Fjzag.woff2) format('woff2');
}

@import "~bootstrap/scss/functions";

$primary: #000;
$border-radius: 8px;
$border-width: 2px;

@import "~bootstrap/scss/variables";

$font-family-sans-serif: "Nunito", sans-serif;

$border-color: $gray-400;

$box-shadow: 0 .15rem .5rem rgba($black, .15);

//Alert
$alert-border-width: 0;

//Form input
$input-font-weight: 500;
$input-focus-border-color: $gray-800;
$input-focus-box-shadow: null !important;
$input-placeholder-color: $gray-500;

//Form select
$form-select-font-weight: 500;
$form-select-focus-border-color: $input-focus-border-color;
$form-select-focus-box-shadow: null !important;

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/helpers';

@import '~bootstrap/scss/utilities/api';

.header {
    margin: 1rem;
    background: $white;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    font-weight: 500;
}

%icon {
    word-wrap: normal;
    white-space: nowrap;
    line-height: 1;
    font-family: 'Material Symbols Rounded';
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
    transition: 0;
    vertical-align: middle;
}

.icon {
    @extend %icon;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    color: $gray-800;
    user-select: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 96px * 2 - (1.375rem + 1.5vw)); // 96px = header height + header margin, 1.375rem = h1 font size, 1.5vw = h1 font size adjustment
}

.form-select:required:invalid {
    color: $gray-600;
}

.form-select option {
    color: $body-color;
}